.container {
  width: 100vw;
	height: 100vh;

	position: fixed;

	top: -50px;
	left: -65px;

	z-index: 10;

	display: flex;
	align-items: center;
	justify-content: center;

	padding: 20px 40px;

	.backgroungToClick {
		position: absolute;

		width: 100%;
		height: 100%;

		background: rgba(0, 0, 0, 0.75);

		opacity: 1;

		&.openning {
			animation: showFormBackground .3s ease;
		}

		&.closing {
			animation: showFormBackgroundReverse .3s ease forwards;
		}
	}

	.content {
		position: relative;

		opacity: 1;
		transform: translateY(0);

		&.openning {
			animation: showFormContent .3s ease;
		}

		&.closing {
			animation: showFormContentRervese .3s ease forwards;
		}

		max-width: 700px;
		max-height: 660px;

		height: 100%;
		width: 100%;

		overflow-y: scroll;

		background: #1a1a1a;

		border-radius: 5px;
		border: 1px solid #6BD0FF;

		padding: 40px;

		&::-webkit-scrollbar {
      width: 10px;
    }

    &::-webkit-scrollbar-track {
      background: transparent;
    }

    &::-webkit-scrollbar-thumb {
      background: linear-gradient(180deg, #6bd0ff 0%, #1a74e2 100%);
      border-radius: 5px;
    }

    &::-webkit-scrollbar-thumb:hover {
      background: #1a74e2;
    }

		h3 {
			font-weight: 400;
			font-size: 26px;
			
			padding-left: 20px;

			background: linear-gradient(180deg, #6BD0FF 0%, #1A74E2 100%);
			-webkit-background-clip: text;
			-webkit-text-fill-color: transparent;
			background-clip: text;
		}

		.closeIcon {
			width: 30px;

			position: absolute;

			right: 25px;
			top: 25px;

			cursor: pointer;

			transition: .3s ease;

			&:hover {
				filter: brightness(0.8);
				transform: scale(1.2);
			}
		}

		.mainImage {
			width: 100%;

			border-radius: 5px;

			margin: 20px 0;
		}

		p {
			padding: 0 20px;
			
			font-weight: 400;
			font-size: 14px;
			line-height: 20px;

			color: #F7F5FB;

			white-space: pre-wrap;
		}
	}
}

@keyframes showFormBackground {
	from {
		opacity: 0;
	}
	to {
		opacity: 1;
	}
}

@keyframes showFormBackgroundReverse {
	from {
		opacity: 1;
	}
	to {
		opacity: 0;
	}
}

@keyframes showFormContent {
	from {
		opacity: 0;
		transform: translateY(100px);
	}
	to {
		opacity: 1;
		transform: translateY(0);
	}
}

@keyframes showFormContentRervese {
	from {
		opacity: 1;
		transform: translateY(0);
	}
	to {
		opacity: 0;
		transform: translateY(100px);
	}
}
