.container {
  width: 350px;
  height: 251px;

  background: transparent;
  border-radius: 5px;

  display: flex;
  flex-direction: column;
  justify-content: space-between;

  padding: 10px;

  animation: startItems .3s ease forwards;

  opacity: 0;

  cursor: pointer;

  position: relative;

  transition: .3s ease;

  &:hover {
    background:rgba(82, 82, 82, 0.15);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    transform: translateY(-5px);
  }

  .title {
    margin: 12px 0 0 12px;

    font-weight: 500;
    font-size: 23px;

    color: #1a1a1a;

    background: unset;
    -webkit-background-clip: unset;
    -webkit-text-fill-color: unset;
    background-clip: unset;
  }

  .projectImage {
    width: 330px;
    height: 168px;
  }

  .projectImage, canvas {
    border-radius: 5px;

    position: absolute;

    bottom: 10px;
  }

  .star {
    position: absolute;
    right: 20px;
    top: 20px;
    width: 25px;
  }
}

@keyframes startItems {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
