.container {
  display: flex;
  justify-content: space-between;

  width: 100%;
  padding: 0 45px;

  button {
    width: 105px;
    height: 43px;

    background: #1a1a1a;
    background: linear-gradient(180deg, #6bd0ff 0%, #1a74e2 100%);

    // box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 5px;
    color: #fff;

    span {
      font-weight: 700;
      font-size: 16px;

      color: #1a1a1a !important;

      background: unset;
      -webkit-background-clip: unset;
      -webkit-text-fill-color: unset;
      background-clip: unset;
    }

    cursor: pointer;

    transition: .3s ease;

    &:hover {
      transform: scale(1.08);
    }
  }
}
